@use "../variables.scss";

.prompt {
  padding: variables.$sm-gutter;

  height: 60px;
  width: 100%;
  font-size: 1rem;

  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-x: auto;
  white-space: nowrap;
}

.prompt-fin {
  padding: variables.$sm-gutter;

  height: 150px;
  width: 100%;
  font-size: 2rem;
  color: rgb(218, 206, 206);

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-x: auto;
  white-space: nowrap;
}